<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <services>
      <configurator patch:after="configurator[@type='Sitecore.Foundation.CDN.RegisterDependencies, Sitecore.Foundation.CDN']" type="Sitecore.Feature.CDN.RegisterDependencies, Sitecore.Feature.CDN.Azure" />
    </services>
    
    <azure type="Sitecore.Feature.CDN.AzureSettings">
      <clientId></clientId>
      <clientSecret></clientSecret>
      <authority></authority>
      <subscriptionId></subscriptionId>
      <profileName></profileName>
      <endpointName></endpointName>
      <resourceGroupName></resourceGroupName>
    </azure>
  </sitecore>
</configuration>
